---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.logo-header {
  max-height: 55px;
}

.read-more {
  width: 100%;
  text-align: center;
}

hr {
    margin: 0 0 50px 0  !important;
}
