---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a {
  transition: color 250ms ease-in-out;
}

h2 {
  margin-top: 15px;
}

h3 {
  color: #333;
}
.wrapper {
  @media (min-width: 1080px) {
    max-width: -webkit-calc(1080px - (30px));
  }  
}

details {
  margin-bottom: 15px;
}

.logo-header {
  max-height: 55px;
}

.read-more {
  width: 100%;
  text-align: center;
}

.high-priority {
  color: green;
}
.low-priority {
  color: #F06449;
}

.emphasis {
  color: #F06449;
  text-decoration: underline;
}

.soft-emphasis {
  font-weight: bold;
}

.barely-emphasis {
  font-style: italic;
}
.collapsible-title {
  transition: background-color 300ms ease-in-out;
  width: 100%;
  padding: 10px;
  background: #D1E4E3;
  cursor: pointer;
  border-radius: 5px;
}

.collapsible-title:hover {
  background: #B7D5D4;
  text-decoration: underline;
}

.collapsible-details {
  padding: 15px 9px 0 9px;
  border: 1px #DDD solid;
  border-top: 0px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
  width: 100%;
  margin-top: -2px;
}

.success-text {
  color: #6FB98F;
}
.error-text {
  color: #F06449;
}

.disclaimer {
  background-color: #FADF63;
  border-radius: 3px;
  border: 1px solid #B6A349;
  margin: 25px 0;
  padding: 13px;
  color: #666;
}

#cookie-notice {
  padding: 0.5rem 1rem; 
  display: none; 
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  width: calc(100% - 2rem); 
  background: #222; 
  color: rgba(255,255,255,0.8);
  left: 0;
}
#cookie-notice a {
  display: inline-block; 
  cursor: pointer; 
  margin-left: 0.5rem;
  }
#cookie-notice a:hover {
  color: #D1E4E3;
  text-decoration: none;
}
@media (max-width: 767px) {
  #cookie-notice span {
      display: block;
       padding-top: 3px; 
       margin-bottom: 1rem;
    }
  #cookie-notice a {
      position: relative; 
      bottom: 4px;
    }
}

.soft {
  color: #777;
}