<p>Mi siguiente reflexión va sobre el significado de <strong>bien</strong> para nosotros y para el resto del equipo. No creo que haya un criterio único y permanente aunque sí que hay algunas cuestiones que parecen ser condición necesaria (pero no suficiente) para considerar algo como <em>de calidad</em>.</p>
<p>Lo primero que me llama la atención de la afirmación <em>"lo puedo hacer rápido o lo puedo hacer bien"</em> es que de primeras no consideremos <strong>rápido</strong> como parte de nuestro criterio de bien.</p>
<p>Sin entrar, de momento, en detalles técnicos, para mi una tarea está bien resuelta si:</p>
<ul>
<li>Resuelve el problema que justifica llevar a cabo la tarea.</li>
<li>Perdura el tiempo que se espera de ella.</li>
<li>El coste de mantenimiento es razonable. Es decir, no se dispara en el tiempo.</li>
<li>Y por supuesto que esté hecha en el menor tiempo posible. O lo que es lo mismo… todo lo rápido que podamos.</li>
</ul>
<p>Entrando en detalles técnicos, entiendo que cuando hablamos de hacer las cosas bien nos referimos a tener en cuenta todos esos criterios que la industria ha establecido como "de calidad", entre los que se encuentran:</p>
<ul>
<li>Testing automático (incluso TDD)</li>
<li>Pull Requests</li>
<li>Continuous Integration/Delivery/Deployment</li>
<li>Micro servicios</li>
<li>RX</li>
<li>Clean architecture</li>
<li>Con feature flags</li>
<li>Con métricas de uso y rendimiento</li>
<li>(<em>y cualquier otra buzzword que se nos ocurra</em>)…</li>
</ul>
<p>Es curioso, <strong>lo interiorizado que podemos llegar a tener, que todas estas prácticas que acabo de mencionar incrementan el tiempo de desarrollo</strong>, cuando todas ellas están pensadas precisamente para lo contrario.</p>
<p>Tenemos un prejuicio, heredado del mundo físico que nos dice que <strong>hacer las cosas bien es más lento y por lo tanto más caro que hacerlas mal</strong> y es algo que tenemos que dejar de lado cuanto antes para poder mejorar en nuestro trabajo.</p>
<p>Veo dos problemas claros aquí:</p>
<ol>
<li>No tenemos asimiladas estas técnicas y por lo tanto nos parecen más difíciles de lo que son.</li>
<li>Elegimos mal la unidad de estudio.
<blockquote>
<p>La decisión epistemológica más importante que se hace es la unidad de estudio. Si nos equivocamos en la elección de la unidad podemos encontrarnos enfrentando el organismo a su ambiente.<br>
(Gregory Bateson)</p>
</blockquote>
<p>Me explico. Si la unidad de estudio es la tarea a desarrollar, quizás, aplicar todas estas técnicas pueda introducir un sobrecoste.<br>
No obstante, las tareas rara vez se realizan de forma aislada, sino que se realizan en el contexto de un proyecto. En este caso, la unidad de estudio podría ser el proyecto, donde lo interesante es minimizar el impacto en la suma de todas sus tareas.</p>
<p>En general el hecho de cambiar la unidad de estudio, nos hará cambiar de prioridades dándole más importancia a unas variables u otras a la hora de tomar la decisión. Es decir, <a href="/blog/2019/04/28/la-importancia-del-contexto.html#inteligencia">decidiremos con inteligencia</a>.</p>
</li>
</ol>

<p>Y por úlitmo me gustaría resaltar que <span class="emphasis"><strong>nuestra definición de bien cambia con el tiempo</strong></span>. Tanto nosotros como desarrolladores o equipo, como el proyecto y la empresa para la que trabajamos, nos comportamos como un ser vivo y por lo tanto cambiamos, maduramos y nuestras prioridades cambian y por lo tanto la definición de bien puede (y seguramente sea así) hacerlo también. Es importante tener esto en cuenta tanto a la hora de tomar una decisión, como a la hora de juzgar el pasado. Idealmente, deberíamos tener la conciencia tranquila pensando que en cada momento tomamos la decisión que creíamos que era mejor en el momento en el que tomamos la decisión y con el conocimiento que teníamos entonces. Juzgar en el presente, no solo es muy fácil, sino que suele ser bastante injusto.</p>
